body {
    background-color: rgb(30, 30, 32);
    color: whitesmoke;
}

#container {
    margin: 2%;
    background-color: rgb(54, 54, 54);
}

#header {
    text-align: center;
}

#content {
    margin: 1% 25% 1% 25%;
}

#footer {
    padding: 10px;
    text-align: center;
}